<%= form_for @profile, url: user_profile_path, html: {multipart: true} do |f| %>
  <div class="form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_area :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.select :city, ['Kota Tangerang', 'Kabupaten Tangerang', 'Kota Tangerang Selatan'], {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :province %>
    <%= f.select :province, ['Banten'], {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :bank_name %>
    <%= f.select :bank_name, ['BCA', 'Mandiri'], {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :account_number %>
    <%= f.text_field :account_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :account_name %>
    <%= f.text_field :account_name, class: 'form-control' %>
  </div>

  <div class="form-group text-center">
    <%= f.submit 'Submit', class: 'btn btn-green' %>
  </div>
<% end %>
