<%= form_for @profile, url: user_profile_path do |f| %>
  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_area :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.select :city, ['Kota Tangerang', 'Kabupaten Tangerang', 'Kota Tangerang Selatan'], {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :province %>
    <%= f.select :province, ['Banten'], {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :bank_name %>
    <%= f.text_field :bank_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :account_number %>
    <%= f.text_field :account_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :account_name %>
    <%= f.text_field :account_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Update Profile', class: 'btn btn-primary' %>
  </div>
<% end %>
