<div class="col-md-6 col-md-offset-3 col-sm-12">
  <div class="panel panel-default text-center">
    <div class="panel-heading">
      <h2>Sisaku</h2>
    </div>

    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit "Sign In", class: 'btn btn-success' %>
        </div>

        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Lupa Password?", new_password_path(resource_name) %><br />
        <% end -%>
      <% end %>
      <hr>
      <p>
        Belum punya akun Sisaku?
      </p>
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Daftar Sekarang", new_registration_path(resource_name), class: 'btn btn-primary' %><br />
      <% end -%>
    </div>
  </div>
</div>
