<h2 class="text-center">Sign In</h2>

<div class="panel-body text-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password' %>
    </div>

    <div class="form-group text-center">
      <%= f.submit "Sign In", class: 'btn btn-green' %>
    </div>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot Password?", new_password_path(resource_name) %><br />
    <% end -%>
  <% end %>

  <hr>

  <%= link_to 'Back', root_path, class: 'btn btn-green' %>
</div>
