<div class="row">
  <div class="col-xs-4 text-center">
    <%= image_tag @user.profile.avatar.url(:medium), class: 'img-circle', style: 'width: 100%' %>
    <br><br>
    <%= link_to 'Edit Profile', edit_user_profile_path(current_user), class: 'btn btn-block btn-success' %>
  </div>

  <div class="col-xs-8">
    <strong>Saldo Anda adalah:</strong> <%= @orders.sum(:price) - @withdraws.sum(:amount) %><br>
    <strong>Anda telah berkontribusi sebanyak</strong>: <%= @orders.sum(:weight) %> kg

    <hr>

    <strong>User Details</strong><br>
    <%= @user.first_name %> <%= @user.last_name %><br>
    <%= @user.profile.address %><br>
    <%= @user.profile.city %><br>
    <%= @user.profile.province %><br>
    <%= @user.profile.phone_number %><br>

    <hr>

    <strong>Bank details</strong><br>
    <%= @user.profile.bank_name %><br>
    <%= @user.profile.account_name %><br>
    <%= @user.profile.account_number %>
  </div>
</div>
