<%= form_for @order do |f| %>
  <div class="row">
    <h2 class="text-center">Pickup Trash</h2>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.text_area :address, class: 'form-control', placeholder: 'Address' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.text_area :direction, class: 'form-control', placeholder: 'Direction (Details of pickup location)' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.text_field :phone_number, class: 'form-control', placeholder: 'Phone Number' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group text-center">
            <%= f.submit 'Pickup Now', class: 'btn btn-green' %>
          </div>

          <hr>

          <div class="text-center">
            <%= link_to 'Back', bangsaku_path, class: 'btn btn-green' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
