<div class="row">
  <div class="col-xs-6">
    <%= link_to new_order_path, class:'btn btn-green btn-block btn-lg', role: 'button' do %>
      <span class="glyphicon glyphicon-trash"></span> <br>Pickup Trash</a>
    <% end %>
  </div>

  <div class="col-xs-6">
    <%= link_to orders_path, class: 'btn btn-green btn-block btn-lg', role: 'button' do %>
      <span class="glyphicon glyphicon-list"></span> <br>Pickup List</a>
    <% end %>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-xs-6">
    <%= link_to new_withdraw_path, class:'btn btn-green btn-block btn-lg', role: 'button' do %>
      <span class="glyphicon glyphicon-transfer"></span> <br>Withdraw</a>
    <% end %>
  </div>

  <div class="col-xs-6">
    <%= link_to withdraws_path, class: 'btn btn-green btn-block btn-lg', role: 'button' do %>
      <span class="glyphicon glyphicon-credit-card"></span> <br>Withdraw List</a>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="text-center">
    <%= link_to 'Back', root_path, class: 'btn btn-green' %>
  </div>
</div>
